
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@if (Model.Customers.Count == 0)
{
    <text>There's no customers</text>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <td><strong>Customers</strong></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.Customers)
            {

                <tr>
                    <td>@customer.Name</td>
                </tr>
            }
         </tbody>
</table>
}

